@import "../../styles/variables.scss";

footer {
  .footer_container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    gap: 3rem;
    .footer_top {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .menu {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        .logo {
          font-family: "Lobster";
          font-size: 1.5rem;
        }
        a {
          @include header-link;
        }
        ul {
          display: flex;
          align-items: center;
          gap: 3.75rem;
        }
        @media (max-width: 625px) {
          flex-direction: column;
          align-items: flex-start;
          ul {
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
          }
        }
      }
    }
    hr {
      width: 100%;
      border: 1px solid #0000000e;
    }
    .footer_bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 625px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
      }
      span {
        color: #ff7967;
      }
      .socials {
        display: flex;
        align-items: center;
        gap: 2.5rem;
      }
    }
  }
}
