@import "../../styles/variables.scss";

.recipies_slider {
  width: 100%;
  overflow: hidden;

  .swiper {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .swiper-wrapper {
    width: 100%;
    max-width: 100%;
  }

  .swiper-slide {
    width: 100%;
    max-width: 100%;
  }

  .recipe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 2rem;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    .recipe_info {
      display: flex;
      flex-direction: column;
      padding: 50px;
      background: $sky-blue;
      .recipe_category {
        padding: 0.75rem 1.25rem;
        border-radius: 30px;
        background: $white;
        width: fit-content;
        span {
          font-size: 0.875rem;
          font-weight: 600;
        }
      }

      h1 {
        margin: 2rem 0 1.5rem 0;
      }

      p {
      }

      .recipe_tags {
        margin: 1.875rem 0 6.5rem 0;
        display: flex;
        align-items: center;
        gap: 1rem;
        .tag {
          padding: 0.5rem 1rem;
          border-radius: 30px;
          gap: 0.25rem;
          background: rgba(0, 0, 0, 0.05);
          img {
          }

          p {
          }
        }
      }

      .recipe_bottom {
        flex: 1;
        width: 100%;
        justify-content: space-between;
        display: flex;
        .author {
          display: flex;
          gap: 1.75rem;
          align-items: center;
          img {
            width: 3.125rem;
            height: 3.125rem;
            border-radius: 50%;
            object-fit: cover;
          }

          div {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            span {
              font-weight: 600;
            }
          }
        }
      }
    }

    .recipe_image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.categories {
  .categories_header {
    h2 {
    }
  }

  .categories_list {
    .category_item {
      img {
      }

      span {
      }
    }
  }
}
