@import "../../styles/variables.scss";
.btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 160px;
  font-size: 1rem;
  padding: 1.25rem 3rem;
  border-radius: 1rem;
  background: $black;
  border: 1px solid #000000;
  color: $white;
  &:hover {
    background-color: $white;
    color: $black;
    border: 1px solid $black;
  }
}

svg {
  display: block;
  width: 24px;
  height: 24px;
}
