.create-container {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.create-card {
    width: 450px;
    background: #fff;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.create-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.create-label {
    align-self: flex-start;
    font-weight: bold;
}

.create-PhotoLabel {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    transition: 0.2s;
}
.create-PhotoLabel:hover { background: #e4e4e4; }


.create-input {
    width: 100%;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.create-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}
