@import "../../styles/variables.scss";

.list_header {
  margin-top: 5rem;
  .section_title {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
  }
}

.list_search {
  margin: 5rem 0;
  .search {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0.625rem;
  }

  .search_input {
    @include paragraph;
    margin-left: 2rem;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    max-width: 250px;
    &::placeholder {
      color: #999;
    }

    &:focus {
      outline: none;
      border: none;
    }
  }
}

.list_content {
  .content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
    margin-top: 3rem;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
  }

  .list_main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .list_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
    flex-wrap: wrap;

    .pagination_btn {
      width: 64px;
      height: 64px;
      padding: 0;
      border: 1px solid #e0e0e0;
      background: $white;
      color: $black;
      border-radius: 16px;
      cursor: pointer;
      transition: all 0.2s;
      @include paragraph;
      font-size: 1rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover:not(:disabled) {
        background: #f5f5f5;
        border-color: $black;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      &.active {
        background: $black;
        color: $white;
        border-color: $black;
      }
    }

    .ellipsis {
      width: 64px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include paragraph;
      color: $gray;
    }
  }

  .list_sidebar {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 2rem;
  }

  .sidebar_section {
    h3 {
      margin-bottom: 2rem;
    }
  }

  .sidebar_list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .sidebar_item {
    img {
    }
  }

  .sidebar_item_img {
  }

  .sidebar_item_info {
    h4 {
    }

    p {
    }
  }

  .ad_section {
    .ad_image {
      position: relative;
      width: 100%;
      height: auto;
      margin: 1rem 0;
      overflow: hidden;
    }
    h3 {
      font-family: "Lobster";
      font-size: 1.5rem;
      line-height: 2rem;
      text-decoration: none;
      color: inherit;
      font-weight: 400;
      color: $white;
      position: absolute;
      text-align: center;
      top: 4rem;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .ad_main_image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 250px;
      height: auto;
      display: block;
      object-fit: cover;
      z-index: 10;
    }

    .ad_bg {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      z-index: 1;
    }
    p {
      position: absolute;
      bottom: 1.5rem;
      left: 50%;
      transform: translateX(-50%);
      @include paragraph;
      font-size: 1rem;
      font-weight: 500;
      color: $white;
      z-index: 10;
    }

    p {
    }
  }

  .error {
  }
}
.subscription_container {
  margin: 10rem auto !important;
}
